<form [formGroup]="myForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email" [formControl]="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <div [hidden]="myForm.controls['email'].untouched">
      <div [hidden]="!myForm.controls['email'].errors?.['required']" class="error-msg">El campo es obligatorio</div>
      <div [hidden]="!myForm.controls['email'].errors?.['minlength']" class="error-msg">El campo debe tener mínimo 3 caracteres</div>
      <div [hidden]="!myForm.controls['email'].errors?.['email']" class="error-msg">No es un email valido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
      placeholder="Password" formControlName="password">
    <div [hidden]="myForm.controls['password'].untouched">
      <div [hidden]="!myForm.controls['password'].errors?.['required']" class="error-msg">El campo es obligatorio</div>
      <div [hidden]="!myForm.controls['password'].errors?.['minlength']" class="error-msg">El campo debe tener mínimo 3 caracteres</div>
      <div [hidden]="!myForm.controls['password'].errors?.['maxlength']" class="error-msg">El campo debe tener máximo 10 caracteres</div>
    </div>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1"
    [formControl]="check">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
  <button type="button" class="btn btn-secondary" (click)="resetForm()">Limpiar</button>
</form>
