<p>pipes-example works!</p>

<!-- String -->
<p>{{cadena | uppercase}}</p>
<p>{{cadena | lowercase}}</p>
<p>{{cadena | titlecase}}</p>

<!-- Moneda -->
<p>{{cantidad}}</p>
<p>{{cantidad | currency}}</p>
<p>{{cantidad | currency : 'EUR'}}</p>
<p>{{cantidad | currency : 'EUR' : 'code'}}</p>
<p>{{cantidad | currency : 'EUR' : 'symbol'}}</p>
<p>{{cantidad | currency : 'EUR' : 'symbol' : '2.2-3'}}</p>
<p>{{cantidad | currency : 'EUR' : 'symbol' : '2.2'}}</p>

<!-- Fechas -->
 <p>{{fechaActual}}</p>
 <p>{{fechaActual | date}}</p>
 <p>{{fechaActual | date : 'long'}}</p>
 <p>{{fechaActual | date : 'dd/MM/yyyy'}}</p>
 <p>{{fechaActual | date :"dd ' de ' MMMM 'del año 'yyyy"}}</p>
 <p>{{fechaActual | date :"yyyy-MM-dd ' hora ' HH:mm"}}</p>
 <p>{{fechaActual | date : formatoFecha}}</p>

<!-- Moneda -->
<p>{{cantidad}}</p>
<p>{{cantidad | number}}</p>
<p>{{cantidad | number : '2.1-2'}}</p>

<!-- Porcentaje -->
<p>{{cantidad}}</p>
<p>{{cantidad | percent}}</p>
<p>{{cantidad | percent : '2.1-2'}}</p>

<p>{{estructura}}</p>
<p>{{estructura | json}}</p>

<p>{{cadena | slice : 1 : 3}}</p>

<!-- Custom -->
<p>{{cantidad}}</p>
<p>{{cantidad | pow}}</p>
<p>{{cantidad | pow : '2'}}</p>

<p>{{fechaActual | date :"dd ' de ' MMMM 'del año 'yyyy" | uppercase}}</p>
