<p>for-example works!</p>
<button type="button" class="btn btn-secondary" (click)="selectPeople()">Consultar</button>

<!--
<div *ngIf="show">
  <table>
    <thead>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Es empleado</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of people">
        <td>{{p.firstName}}</td>
        <td>{{p.lastName}}</td>
        <td>{{p.age}}</td>
        <td>{{p.employee ? "SI" : "NO"}}</td>
      </tr>
    </tbody>
  </table>
</div>
-->

<!--
<div *ngIf="show">
  <table>
    <thead>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Es empleado</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of people; index as i">
        <td>{{i}}</td>
        <td>{{p.firstName}}</td>
        <td>{{p.lastName}}</td>
        <td>{{p.age}}</td>
        <td>{{p.employee ? "SI" : "NO"}}</td>
      </tr>
    </tbody>
  </table>
</div>
-->

<div *ngIf="show">
  <table>
    <thead>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Es empleado</th>
    </thead>
    <tbody>
      <ng-template ngFor let-p [ngForOf]="people" let-i="index">
        <tr>
          <td>{{i}}</td>
          <td>{{p.firstName}}</td>
          <td>{{p.lastName}}</td>
          <td>{{p.age}}</td>
          <td>{{p.employee ? "SI" : "NO"}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

