<p>Class</p>

<div class="default-style" [ngClass]="selectClass ? 'style1' : 'style2'">
  <p>Texto a mostrar</p>
</div>

<div class="default-style" [class.style1]="selectClass">
  <p>Segundo Texto a mostrar</p>
</div>

<div class="default-style" [class]="selectClass ? 'style1' : 'style2'">
  <p>Tercero Texto a mostrar</p>
</div>

<!--
<div class="default-style" [ngClass]="selectClass ? 'style1 : true' : 'style2 : false'">
  <p>Texto a mostrar</p>
</div>
-->

<div class="default-style" [ngClass]="classList">
  <p>Cuarto Texto a mostrar</p>
</div>
<button (click)="changeClass()">Cambiar</button>

<hr />

<p>Style</p>

<div style="color: green; font-size: 15px;" [ngStyle]="selectStyle ? {'text-decoration': 'underline'} : {'text-decoration': 'line-through'}">
  <p>Estilo a mostrar 1</p>
</div>

<div style="color: green; font-size: 15px;" [style.textDecoration]="selectStyle ? 'underline' : 'line-through'"
   [style.height.px]="size2" >
  <p>Estilo a mostrar 1 *</p>
</div>

<div style="color: green; font-size: 15px;" [ngStyle]="styleList">
  <p>Estilo a mostrar 2</p>
</div>

<div style="color: green; font-size: 15px;" [style]="styleList">
  <p>Estilo a mostrar 2 *</p>
</div>



<button (click)="changeStyle()">Cambiar Estilo</button>
