<!--
<form>
-->
  <div>Hola {{name}}</div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email" [(ngModel)]="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
      placeholder="Password" [(ngModel)]="password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1" [(ngModel)]="checked">Check me out</label>
  </div>
  <!--
  <button type="submit" class="btn btn-primary" [disabled]="disableSubmit" [hidden]="hiddenSubmit">Submit</button>
-->
  <button type="button" class="btn btn-secondary" (click)="fillInfo()">Llenar información</button>
  <button type="button" class="btn btn-secondary" (click)="clickHidden()">Hidden</button>
<!--
</form>
-->
<div>
  <div>Email: {{email}}</div>
  <div>Password: {{password}}</div>
  <div>Checked: {{checked ? "SI" : "NO"}}</div>
</div>

