<p>if-example works!</p>
<button type="button" class="btn btn-secondary" (click)="changeShow()">Mostrar Información</button>

<!-- if -->
<div *ngIf="show">
  <p>Nombre: {{nombre}}</p>
  <p>Apellido: {{apellido}}</p>
  <p>Edad: {{edad}}</p>
</div>

<!-- if else -->
<div *ngIf="show; else elseBlock">
  <p>Nombre: {{nombre}}</p>
  <p>Apellido: {{apellido}}</p>
  <p>Edad: {{edad}}</p>
</div>

<ng-template #elseBlock>
  <p>Mostrando contenido del ELSE</p>
  <app-outer></app-outer>
</ng-template>
