<p>if2-example works!</p>
<p>if-example works!</p>
<button type="button" class="btn btn-secondary" (click)="changeShow()">Mostrar Información</button>

<!-- if -->
<ng-template [ngIf]="show">
  <div>
    <p>Nombre: {{nombre}}</p>
    <p>Apellido: {{apellido}}</p>
    <p>Edad: {{edad}}</p>
  </div>
</ng-template>

<!-- if else -->
<ng-template [ngIf]="show" [ngIfElse]="elseBlock">
  <div>
    <p>Nombre: {{nombre}}</p>
    <p>Apellido: {{apellido}}</p>
    <p>Edad: {{edad}}</p>
  </div>
</ng-template>

<ng-template #elseBlock>
  <p>Mostrando contenido del ELSE</p>
</ng-template>
