<p>hidden-example works!</p>
<button type="button" class="btn btn-secondary" (click)="changeShow()">Mostrar Información</button>

<div [hidden]="!show">
  <p>Nombre: {{nombre}}</p>
  <p>Apellido: {{apellido}}</p>
  <p>Edad: {{edad}}</p>
</div>

