<ul class="nav">
  <li class="nav-item">
    <a routerLink="/optionA" routerLinkActive="active" class="nav-link active">Opción A</a>
  </li>
  <li class="nav-item">
    <a routerLink="/optionB" routerLinkActive="active" class="nav-link" href="#">Opción B</a>
  </li>
  <li class="nav-item">
    <a routerLink="/optionC" routerLinkActive="active" class="nav-link">Opción C</a>
  </li>
  <li class="nav-item">
    <a routerLink="/optionD/select" routerLinkActive="active" class="nav-link">Opción D - select</a>
  </li>
  <li class="nav-item">
    <a routerLink="/optionD/create" routerLinkActive="active" class="nav-link">Opción D - create</a>
  </li>
  <!-- PATH
  <li class="nav-item">
    <a [routerLink]="['/optionE', 'PERSONA']" routerLinkActive="active" class="nav-link">Opción E</a>
  </li>
  -->

  <li class="nav-item">
    <a [routerLink]="['/optionE']" [queryParams]="{tableName: 'PERSONAS'}" routerLinkActive="active" class="nav-link">Opción E</a>
  </li>

  <li class="nav-item">
    <a [routerLink]="['/redirect']" routerLinkActive="active" class="nav-link">Redireccionar Example</a>
  </li>

  <li class="nav-item">
    <a [routerLink]="['/redirect2']" routerLinkActive="active" class="nav-link">Redireccionar Example con Guard</a>
  </li>
</ul>
