<p>Mostrando información desde Inner</p>
<p>Longitud de nombres {{nombres}}: {{countFN}}</p>
<p>Longitud de apellidos {{apellidos}}: {{countLN}}</p>
<p>Es estudiante {{isStudentBoolean ? "SI" : "NO"}}</p>
<button type="button" [disabled]="checkNotEmpty()" (click)="countChars()">Contar caracteres</button>
<button type="button" (click)="changeIsStudent()">Cambiar es estudiante</button>
