<p>switch-example works!</p>
<select [(ngModel)]="profesion">
  <option value="MD" >Medico</option>
  <option value="IN" >Ingeniero</option>
  <option value="CO" >Contador</option>
  <option value="EN" >Enfermera</option>
</select>

<div>
  <p>Nombre: {{nombre}}</p>
  <p>Apellido: {{apellido}}</p>
  <p>Edad: {{edad}}</p>
</div>

<div [ngSwitch]="profesion">
  <div *ngSwitchCase="'MD'">Selecciono Médico</div>
  <div *ngSwitchCase="'IN'">Selecciono Ingeniero</div>
  <div *ngSwitchCase="'CO'">Selecciono Contador</div>
</div>

<div [ngSwitch]="profesion">
  <div *ngSwitchCase="'MD'">Selecciono Médico</div>
  <div *ngSwitchCase="'IN'">Selecciono Ingeniero</div>
  <div *ngSwitchCase="'CO'">Selecciono Contador</div>
  <div *ngSwitchDefault>Selecciono Otro</div>
</div>
