<p>Mostando información de Outer Component</p>
<p>Nombre completo {{firtsName}} {{lastName}}</p>
<p>Edad {{age}}</p>
<p>Es empleado: {{employee ? 'SI' : 'NO'}}</p>
<p>Es estudiante: {{student ? 'SI' : 'NO'}}</p>
<button type="button" (click)="fillData()">Cambiar información</button>

<app-inner [nombres]="firtsName" [apellidos]="lastName" (isStudent)="setIsStudent($event)"></app-inner>

<!--
<app-inner2 [nombres]="firtsName" [apellidos]="lastName"></app-inner2>
-->
